@import './assets/scss/tailwind';

#app-menu-info{
    font-family: 'Open Sans', 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open sans', sans-serif;
}

.text{
    font-family: 'Lato', sans-serif;
}
